@use "./shared.scss";

.Project {
  display: flex;
  flex-direction: column;
  background-color: shared.$colorBg1;
  border-radius: shared.$borderRadius;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: shared.$shadowInset;
    border-radius: shared.$borderRadius;
    pointer-events: none;
  }

  .projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: shared.$borderRadius;
    border-top-right-radius: shared.$borderRadius;
  }

  .info {
    width: 100%;
    padding-block: 0.8rem;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;

    .title {
      text-align: center;
      padding-inline: 0.2rem;
    }

    .bottomWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.4rem;
      padding-inline: 0.8rem;
      align-items: flex-end;

      .left,
      .right {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        gap: 0.4rem;

        a {
          text-decoration: none;
        }

        svg,
        img {
          height: 2rem;
          width: 2rem;
        }

        & > * {
          padding: 2px;
        }
      }

      .left {
        justify-content: flex-start;

        .iconGroup {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          img {
            &:hover {
              & + span {
                opacity: 1;
              }
            }
          }

          span {
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: shared.$borderRadius;
            padding: 0.4rem;
            position: absolute;
            top: -2.6rem;
            width: fit-content;
            opacity: 0;
            transition: opacity 0.2s;
            font-size: 1.2rem;
            user-select: none;
          }
        }
      }

      .right {
        justify-content: flex-end;

        .ghIcon {
          filter: invert(1);
        }

        & > * {
          border-radius: shared.$borderRadius;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: shared.$colorBg2;
          }
        }
      }
    }
  }
}

@media (min-width: shared.$breakpoint1) {
  .Project {
    .info {
      padding-block: 1rem;
      gap: 1rem;

      .bottomWrapper {
        padding-inline: 1rem;

        .left,
        .right {
          gap: 0.8rem;

          svg,
          img {
            height: 2.6rem;
            width: 2.6rem;
          }

          & > * {
            padding: 4px;
          }
        }
      }
    }
  }
}

@media (min-width: shared.$breakpoint2) {
  .Project {
    flex-direction: row;

    .projectImage {
      width: 60%;
      border-top-right-radius: 0;
      border-bottom-left-radius: shared.$borderRadius;
    }

    .info {
      width: 40%;

      .title {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        padding-inline: 1.2rem;
      }

      .bottomWrapper {
        .left,
        .right {
          gap: 0.4rem;

          svg,
          img {
            height: 2.2rem;
            width: 2.2rem;
          }
        }
      }
    }
  }
}

@media (min-width: shared.$breakpoint3) {
  .Project {
    width: shared.$breakpoint3;
    max-width: 100vw;

    .info {
      .bottomWrapper {
        .left,
        .right {
          gap: 0.8rem;

          svg,
          img {
            height: 2.6rem;
            width: 2.6rem;
          }
        }
      }
    }
  }
}
